@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
       scroll-behavior: smooth;
}
.title {
       font-family: "Poppins";
}
.text {
       font-family: "Roboto";
}
.shadow-cm {
       box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
}
.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
       background-color: #DBDBDB !important;
       border-color: #DBDBDB !important;

}
.ant-radio-wrapper .ant-radio-checked .ant-radio-inner::after {
       background-color: #56b280 !important;
       inset-block-start: 17% !important;
    inset-inline-start: 17% !important;
    width: 25px !important;
    height: 25px !important;
}